.asdfaijsdfia-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  object-fit: cover; 
}

.feelfluent {
  position: absolute;
  top: 1%;
  left: 10%;
  display: inline-block;
  font-family: var(--font-reddit-sans);
  width: 160px; 
  height: 45px;
}

.about1 {
  position: absolute;
  top: 1%;
  left: 85%;
  text-decoration: underline;
  font-family: var(--font-reddit-sans);
  display: inline-block;
  width: 94px;
  height: 45px;
}

.home {
  position: absolute;
  top: 1%;
  left: 80%;
  font-family: var(--font-reddit-sans);
  display: inline-block;
  width: 76px;
  height: 45px;
  color: white !important;
  text-decoration: none !important;
}

.feelfluent1 {
  position: absolute;
  top: 16vh; 
  left: 7%;
  font-size: var(--font-size-77xl);
  font-weight: 500;
  text-align: left;
  display: inline-block;
  width: 40%;
  height: auto;
}

.is-a-project {
  position: absolute;
  top: 30vh;
  left: 7%;
  font-size: 40px;
  font-weight: 500;
  text-align: left;
  display: inline-block;
  width: 85%; 
  height: auto;
}

.about {
  width: 100vw; 
  min-height: 100vh; 
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-reddit-sans);
}