.nycseoul2-1-icon1 {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  display: none;
}
.feelfluent2 {
  position: absolute;
  top: 1%;
  left: 10%;
  display: inline-block;
  font-family: var(--font-reddit-sans);
  width: 160px; 
  height: 45px;
}
.about2 {
  position: absolute;
  top: 1%;
  left: 85%;
  font-family: var(--font-reddit-sans);
  display: inline-block;
  width: 94px;
  height: 45px;
  color: white !important;
  text-decoration: none !important;
}
.home2 {
  position: absolute;
  top: 1%;
  left: 80%;
  text-decoration: underline;
  font-family: var(--font-reddit-sans);
  display: inline-block;
  width: 76px;
  height: 45px;
}
.feelfluent3 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--font-size-77xl);
  font-weight: 500;
  font-family: var(--font-reddit-sans);
  display: inline-block;
  width: 480px;
  height: 126px;
}
.express-in-emojis {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 36px;
  font-weight: 300;
  font-family: var(--font-reddit-sans);
}
.submit-button-child {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 32px;
  background-color: var(--color-gainsboro);
  width: 105px;
  height: 40px;
}
.submit {
  position: absolute;
  top: 9px;
  left: 17px;
  font-size: var(--font-size-base);
  letter-spacing: 0.1px;
  line-height: 20px;
  display: flex;
  font-family: var(--font-reddit-sans);
  color: #000;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 71.1px;
  height: 22.8px;
}
.submit-button {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 105px;
  height: 40px;
}
.text-input {
  border: none;
  outline: none;
  font-weight: 300;
  font-family: var(--font-reddit-sans);
  font-size: var(--font-size-base);
  background-color: var(--color-gainsboro);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 16px;
  width: 345px;
  height: 41px;
  padding: 11px 13px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 1);
}
.word-this-container {
  position: absolute;
  top: 73%;
  left: 45%;
}
.word-this-container1 {
  position: absolute;
  top: 57%;
  left: 67%;
}
.word-this-container2 {
  position: absolute;
  top: 63%;
  left: 13%;
}
.word-this-container3 {
  position: absolute;
  top: 28%;
  left: 7%;
}
.word-this-container4 {
  position: absolute;
  top: 17%;
  left: 32%;
}
.word-this-container5 {
  position: absolute;
  top: 26%;
  left: 72%;
}
.home1 {
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
